.button{
    position: relative;
    text-align: center;
    top: 40%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.cta {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: #FF8C00;
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:hover:before {
    width: 100%;
    background: #FF8C00;
}

.cta:active {
    transform: scale(.96);
}
